.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
