nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
}
.logo {
  width: 150px;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(194, 194, 194);
  font-size: 1.05em;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.link {
  padding: 10px 20px;
  border-radius: 10px;
}

.link:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0px 5px 30px 5px rgb(44, 67, 129);
}

@media only screen and (max-width: 530px) {
  ul {
    display: none;
  }
}
